<!DOCTYPE html>
<html lang="ja">
<body>
  <section class="main-header">
    <img src="kaboompics_Life on Instagram Book and Vintage Cameras.jpg">
  </section>
  <section class="about">
    <h1>About Instablog</h1>
    <p>
      Instablogは、写真付きブログ制作のためのアプリです。<br>
      Instablogを使うことで、簡単に思い出を残すことができます。
    </p>
  </section>

</body>
</html>
